#one,#two,#three,#four,#five,#six,#seven,#eight,#nine,#zero,#zero_zero,#full_stop,#currencyButton,
#lengthButton,#areaButton,#volumeButton,#speedButton,#timeButton,#massButton,#numeralButton,#temperatureButton

{
    -fx-text-fill:#FF6600;
    text-align: center;

    -fx-effect: dropshadow(gaussian, #CBCBCB, 10, 0.4, 3.4, 3.4);
    -fx-font-size:15px;
    -fx-background-color:#F5F5F5;

    -fx-padding: 8 8 8 8;
}
#one:hover,#two:hover,#three:hover,#four:hover,#five:hover,#six:hover,#seven:hover,#eight:hover,#nine:hover,#zero:hover,#zero_zero:hover,#full_stop:hover,
#currencyButton:hover,#lengthButton:hover,#areaButton:hover,#volumeButton:hover,#speedButton:hover,#timeButton:hover,#massButton:hover,#numeralButton:hover,#temperatureButton:hover
{
    -fx-background-color : #D8D8D8;
}
#one:pressed,#two:pressed,#three:pressed,#four:pressed,#five:pressed,#six:pressed,#seven:pressed,#eight:pressed,#nine:pressed,#zero:pressed,#zero_zero:pressed,#full_stop:pressed,
#currencyButton:pressed,#lengthButton:pressed,#areaButton:pressed,#volumeButton:pressed,#speedButton:pressed,#timeButton:pressed,#massButton:pressed,#numeralButton:pressed,#temperatureButton:pressed
{
    -fx-background-color : #727272;
}
#currencyButton:focused,#lengthButton:focused,#areaButton:focused,#volumeButton:focused,#speedButton:focused,#timeButton:focused,#massButton:focused,#numeralButton:focused,#temperatureButton:focused
{
    -fx-background-color : #727272;
}





#multi,#plus,#subtraction,#equal,#slash,#percent,#x,#ac,
#converterACButton,#converterButton,#converterCLRButton
{
    -fx-text-fill:#FFFFFF;
    text-align: center;

    -fx-effect: dropshadow(gaussian, #CBCBCB, 10, 0.4, 3.4, 3.4);
    -fx-font-size:15px;
    -fx-background-color:#FF6600;

    -fx-padding: 8 8 8 8;
}
#multi:hover,#plus:hover,#subtraction:hover,#equal:hover,#slash:hover,#percent:hover,#x:hover,#ac:hover,
#converterACButton:hover,#converterButton:hover,#converterCLRButton:hover
{
    -fx-background-color : #CB331B;
}
#multi:pressed,#plus:pressed,#subtraction:pressed,#equal:pressed,#slash:pressed,#percent:pressed,#x:pressed,#ac:pressed,
#converterACButton:pressed,#converterButton:pressed,#converterCLRButton:pressed
{
    -fx-background-color : #8A2314;
}


.button
{
    -fx-font-size:13px;
    -fx-text-fill:#ffffff;
    text-align: center;
    -fx-font-weight:bold;
    -fx-background-color: #1B3237;
}
.button:hover
{
-fx-background-color : #CB331B;
}
.button:pressed
{
-fx-background-color : #8A2314;
}

.button:focused
{
-fx-background-color : #A52916;
}